.projects, .filter, .page-footer__container, .clients__list, .team__list, .services__list, .benefits__list, .header__container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .projects, .filter, .page-footer__container, .clients__list, .team__list, .services__list, .benefits__list, .header__container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .projects, .filter, .page-footer__container, .clients__list, .team__list, .services__list, .benefits__list, .header__container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .projects, .filter, .page-footer__container, .clients__list, .team__list, .services__list, .benefits__list, .header__container {
    display: flex;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
  }
}

.clients__list, .team__list, .services__list, .benefits__list, .contacts-head, .nav, .contacts-menu {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .clients__list, .team__list, .services__list, .benefits__list, .contacts-head, .nav, .contacts-menu {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.projects-section, .clients, .team, .services, .benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .projects-section, .clients, .team, .services, .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title, .team__title, .services__title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title, .team__title, .services__title {
    font-size: 36px;
    line-height: 1.17;
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-text-color);
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}
body.modal-open {
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  body {
    padding-top: 60px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ECECEC;
  background: #ffffff;
}
@media screen and (min-width: 768px) {
  .header {
    position: relative;
    height: 80px;
  }
}
.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}
@media screen and (min-width: 768px) {
  .header__container {
    margin: 0 auto;
  }
}

.logo {
  display: block;
  font-family: Raleway;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
    text-align: right;
  }
}
.logo--accent {
  color: #2196F3;
}
.logo--footer {
  color: #ffffff;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .logo--footer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .logo--footer {
    margin-left: 0;
  }
}

.menu-button {
  display: inline-flex;
  margin-right: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle:hover, .menu-toggle:focus {
  color: #2196F3;
}
.menu-toggle__icon {
  fill: currentColor;
}
.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  z-index: 999;
  overflow-y: scroll;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container.is-open {
  transform: translateX(0);
}
@media screen and (max-width: 459px) {
  .menu-container {
    padding: 40px 25px;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.mobile-menu {
  padding: 0;
  margin-bottom: auto;
  list-style: none;
}
.mobile-menu__item {
  margin-bottom: 32px;
}
@media screen and (max-width: 459px) {
  .mobile-menu__item {
    margin-bottom: 16px;
  }
}
.mobile-menu__link {
  display: block;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 459px) {
  .mobile-menu__link {
    font-size: 32px;
  }
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196F3;
}
.mobile-menu__link--current {
  color: #2196F3;
}

.contacts-menu {
  margin-bottom: 32px;
}
.contacts-menu__item {
  margin-bottom: 32px;
}
.contacts-menu__tel {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}
.contacts-menu__tel:hover, .contacts-menu__tel:focus {
  color: #2196F3;
}
@media screen and (min-width: 459px) {
  .contacts-menu__tel {
    font-size: 34px;
  }
}
.contacts-menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.contacts-menu__mail:hover, .contacts-menu__mail:focus {
  color: #2196F3;
}

.social-menu {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  list-style: none;
  row-gap: 10px;
}
.social-menu__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  margin-right: 10px;
}
.social-menu__item:last-child {
  border: none;
}
.social-menu__item:first-child {
  padding-left: 0;
}
.social-menu__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}
@media screen and (min-width: 460px) {
  .social-menu__link {
    font-size: 18px;
  }
}

.nav {
  padding-left: 0;
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav__item {
    display: flex;
    position: relative;
    margin-left: 50px;
  }
  .nav__item:first-child {
    margin-left: 0;
  }
}
.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196F3;
}
.nav__link--current {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .nav__link--current::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 4px;
    width: 100%;
    background: #2196F3;
    border-radius: 2px;
  }
}

.contacts-head {
  margin-left: auto;
  display: flex;
}
@media screen and (max-width: 767px) {
  .contacts-head {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-head {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-head__item {
    margin-bottom: 10px;
  }
  .contacts-head__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-head__item {
    margin-right: 50px;
  }
  .contacts-head__item:last-child {
    margin-right: 0;
  }
}
.contacts-head__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: #757575;
  letter-spacing: 0.02em;
  align-items: center;
}
.contacts-head__link:hover, .contacts-head__link:focus {
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .contacts-head__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts-head__icon {
  fill: currentColor;
  margin-right: 10px;
  padding: 0;
  margin-bottom: 0;
}

.hero {
  margin: 0 auto;
  max-width: 480px;
  min-height: 400px;
  padding: 118px 30px;
  background-color: #C4C4C4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile@2x.jpg");
  }
}
@media screen and (min-width: 577px) {
  .hero {
    max-width: 768px;
    padding: 118px 60px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet.jpg");
    background-size: cover;
  }
}
@media screen and (min-width: 577px) and (min-device-pixel-ratio: 2), screen and (min-width: 577px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 577px) and (min-resolution: 192dpi), screen and (min-width: 577px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet@2x.jpg");
  }
}
@media screen and (min-width: 961px) {
  .hero {
    max-width: 1600px;
    min-height: 600px;
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
    background-size: cover;
  }
}
@media screen and (min-width: 961px) and (min-device-pixel-ratio: 2), screen and (min-width: 961px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 961px) and (min-resolution: 192dpi), screen and (min-width: 961px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero@2x.jpg");
  }
}
.hero__title {
  max-width: 360px;
  margin: 0 auto 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__button {
  padding: 10px 32px;
  background-color: #2196F3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188CE8;
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-bottom: 0;
  }
}
.benefits__list {
  display: block;
}
@media screen and (min-width: 768px) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    align-items: start;
    flex-wrap: nowrap;
  }
}
.benefits__item {
  margin-bottom: 30px;
}
.benefits__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: 354px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: 270px;
  }
}
.benefits__icons-container {
  display: flex;
  background-color: #F5F4FA;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
}
.benefits__icon {
  margin: auto;
  width: 70px;
  height: 70px;
}
.benefits__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: left;
  }
}
.benefits__text {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}
.services__item {
  position: relative;
  margin-left: 30px;
}
.services__item:first-child {
  margin-left: 0;
}
.services__img {
  display: block;
}
.services__text {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #F5F4FA;
}
@media screen and (min-width: 768px) {
  .team__list {
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    flex-wrap: nowrap;
  }
}
.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.team__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}
.team__img {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team__img {
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team__img {
    height: 260px;
  }
}
.team__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team__direct {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.icons {
  display: flex;
  justify-content: center;
  list-style: none;
}
.join .icons {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 60px;
}

.icons__list {
  margin-left: 10px;
}
.icons__list:first-child {
  margin-left: 0;
}

.icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 44px;
  height: 44px;
  color: #AFB1B8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons__link:hover, .icons__link:focus {
  background-color: #2196F3;
  color: #ffffff;
  outline: none;
}
.join .icons__link {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join .icons__link:hover, .join .icons__link:focus {
  background-color: #2196F3;
  color: #ffffff;
}

.icons__svg {
  width: 20px;
  height: 20px;
  align-items: center;
  fill: currentColor;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
  }
}
.clients__item {
  width: 210px;
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  color: #AFB1B8;
  border: 1px solid;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}
.clients__icon {
  fill: currentColor;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}
.page-footer__container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .page-footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__container {
    justify-content: space-between;
    text-align: start;
  }
}

.address {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .address {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .address {
    align-items: start;
    justify-content: start;
    margin-right: 70px;
    margin-left: 0;
  }
}
.address__list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-style: normal;
  list-style: none;
}
@media screen and (min-width: 1200px) {
  .address__list {
    margin-bottom: 0;
  }
}
.address__link {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 12px;
}
.address__link:hover, .address__link:focus {
  color: #2196F3;
}
.address__item {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 12px;
  text-align: start;
}
.address__item:hover, .address__item:focus {
  color: #2196F3;
}

@media screen and (min-width: 1200px) {
  .join {
    display: flex;
    flex-direction: column;
    margin-right: 94px;
  }
}
.join__text {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription {
    width: 450px;
  }
}
.subscription__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.subscription__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .subscription__form {
    flex-direction: row;
    align-items: center;
  }
}
.subscription__input {
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
.subscription__button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  background-color: #2196F3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}
.subscription__button:hover, .subscription__button:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.subscription__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}
.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 93px;
  left: 50%;
  max-width: 450px;
  width: 100%;
  transform: translateX(-50%);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    transform: translate(-50%, -50%) scale(1) rotateZ(360deg);
  }
}
.backdrop--hidden .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0) rotateZ(0deg);
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close__icon {
  margin: auto;
  width: 18px;
  height: 18px;
  right: 50%;
  align-items: center;
  cursor: pointer;
}
.close:hover .close__icon, .close:focus .close__icon {
  fill: #2196F3;
}

.form {
  padding: 40px;
}
.form__title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .form__title {
    line-height: 1.15;
  }
}
.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.form__input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover {
  cursor: pointer;
}
.form__input:focus {
  outline: none;
  border: 1px solid #2196F3;
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
}
.form__icon:focus {
  outline: none;
  border: 1px solid #2196F3;
}
.form__input:focus + .form__icon {
  fill: #2196F3;
}
.form__comment {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea:focus {
  outline: none;
  border: 1px solid #2196F3;
}
.form__button {
  display: block;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__button:hover, .form__button:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}
.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-right: 12px;
}
.checkbox__label {
  position: relative;
}
.checkbox__icon {
  position: absolute;
  top: -2px;
  left: 0;
  transform: translate(-50%);
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: #ffffff;
}
@media screen and (min-width: 1200px) {
  .checkbox__icon {
    top: 4px;
  }
}
.checkbox__input:checked ~ .checkbox__icon {
  fill: #2196F3;
  border: transparent;
}
.checkbox__link {
  color: #2196F3;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.filter {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}
.filter__list {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .filter__list {
    width: 100%;
    justify-content: center;
  }
}
.filter__item {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .filter__item {
    margin: 0;
  }
}
.filter__button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #F5F4FA;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  gap: 30px;
}
.projects__item {
  /* width: 370px; */
  width: 100%;
}
@media screen and (min-width: 768px) {
  .projects__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__item {
    width: calc((100% - 60px) / 3);
  }
}
.projects__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects__thumb {
  position: relative;
  overflow: hidden;
}
.projects__img {
  display: block;
  width: 100%;
}
.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  opacity: 0;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
}
@media screen and (max-width: 479px) {
  .projects__overlay {
    padding: 24px;
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .projects__overlay {
    padding-top: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__overlay {
    padding: 63px 24px;
  }
}
.projects__link:hover .projects__overlay, .projects__link:focus .projects__overlay {
  transform: translatey(0);
  opacity: 1;
}
.projects__border {
  flex-grow: 1;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  padding: 20px 24px;
}
.projects__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.projects__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}/*# sourceMappingURL=main.css.map */