:root {
    --primary-text-color: #212121;
        --secondary-text-color: #757575;
        --contrast-text-color: #ffffff;
        --address-item-color: rgba(255, 255, 255, 0.6);
        --icon-color: #AFB1B8;
    
        --accent-color: #2196F3;
        --button-accent: #188CE8;
    
        --primary-background: #ffffff;
        --secondary-background: #2F303A;
        --hero-background: #C4C4C4;
        --content-background: #F5F4FA;
        --button-background: #F5F4FA;
        --secondary-textx-color: #757575;
            --contrast-textx-color: #ffffff;
            --address-itemx-color: rgba(255, 255, 255, 0.6);
            --icon-colorx: #AFB1B8;
        
            --accent-colorx: #2196F3;
            --button-accentx: #188CE8;
        
            --primary-backgroundx: #ffffff;
            --secondary-backgroundx: #2F303A;
            --hero-backgroundx: #C4C4C4;
            --content-backgroundx: #F5F4FA;
            --button-backgroundx: #F5F4FA;
}

body {
    background-color: var(--secondary-text-color);
    color: var()
}