body {
    margin-left: auto;
    margin-right: auto;
    color: var(--primary-text-color);
    font-family: 'Roboto', -apple-system,
        BlinkMacSystemFont,
        avenir next,
        avenir,
        segoe ui,
        helvetica neue,
        helvetica,
        Cantarell,
        Ubuntu,
        roboto,
        noto,
        arial,
        sans-serif;

    &::-webkit-scrollbar {
            width: 2px;
        }
    
        &::-webkit-scrollbar-track {
            background: gray;
            border-radius: 12px;
        }
    
        &::-webkit-scrollbar-thumb {
            background: #ffffff;
            border-radius: 12px;
        }
    &.modal-open {
        overflow: hidden;
    }

    @media screen and (max-width:767px) {
        padding-top: 60px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 480px;

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        // display: flex;
        // align-items: center;
        // justify-content: center;
    }
}
