.contacts-head {
    @extend %list;
        margin-left: auto;

    @media screen and (max-width:767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
    }

    &__item {
        @media screen and (min-width:768px) {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            };
        }
        

        @media screen and (min-width: 1200px) {
            margin-right: 50px;
        
            &:last-child {
                margin-right: 0;
            }
        }
        
    }

    &__link {
        // display: flex;
        // padding-top: 32px;
        // padding-bottom: 32px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        text-decoration: none;
        color: $secondaryColor;
        letter-spacing: 0.02em;
        align-items: center;
    
        &:hover,
        &:focus {
            color: $accentColor;
        }
    }

    &__icon {
        fill: currentColor;
        margin-right: 10px;
        padding: 0;
        margin-bottom: 0;
        transition: color 250ms $transitionCubic;
    
        &:hover,
        &:focus {
            fill: $accentColor;
        }
    }
}
