.contact-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.contact-list {
padding: 0
}

.contact-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}