.hero {
    margin: 0 auto;
    max-width: 480px;
    min-height: 400px;
    padding: 118px 30px;
    background-color: $heroBackground;
    background-image: $gradient,
                    url('../images/hero/hero-mobile.jpg');
                    // url('../images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // 480px 400px;
    background-position: center;
    text-align: center;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            & {
                background-image: $gradient,
                        url('../images/hero/hero-mobile@2x.jpg');
            }
    }

    @media screen and (min-width:577px) {
        max-width: 768px;
        padding: 118px 60px;
        background-image: $gradient,
                url('../images/hero/hero-tablet.jpg');
        background-size: cover;
        background-size: 768px 400px;

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                & {
                    background-image: $gradient,
                                url('../images/hero/hero-tablet@2x.jpg');
                }
            }
    }

    @media screen and (min-width:961px) {
        max-width: 1600px;
        min-height: 600px;
        padding: 200px 0;
        background-image: $gradient,
            url('../images/hero/hero.jpg');
        background-size: cover;
        // background-size: 1600px 600px;

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                & {
                    background-image: $gradient,
                        url('../images/hero/hero@2x.jpg');
                }
            }
    }

    &__title {
        max-width: 360px;
        margin: 0 auto 30px;
        color: $contrastColor;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 0.06em;

        @media screen and (min-width:1200px) {
            max-width: 696px;
            font-size: 44px;
            line-height: 1.36;
        }   
    }

    &__button {
        padding: 10px 32px;
        background-color: $accentColor;
        color: $contrastColor;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        font-family: inherit;
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        transition: background-color 250ms $transitionCubic;
    
        &:hover,
        &:focus {
            background-color: $buttonAccent;
        }
    }
}
