.join {
    @media screen and (min-width:1200px) {
        display: flex;
        flex-direction: column;
        margin-right: 94px;
    }

    &__text {
        text-transform: uppercase;
        color: $contrastColor;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        margin-bottom: 20px;
    }
}
