.logo {
    display: block;
    font-family: Raleway;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: $primary–°olor;
    margin-right: 0;

    @media screen and (min-width: 768px) {
        margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
        font-size: 26px;
        line-height: 1.19;
        text-align: right;
        ;
    }

    &--accent {
        color: $accentColor;
    }

    &--footer {
        color: $contrastColor;
        margin-bottom: 28px;

        @media screen and (min-width: 768px) {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 28px;
        }

        @media screen and (min-width: 1200px) {
            margin-left: 0;
        }
    }
}