.logo {
    display: block;
    // padding: 16px 0;
    font-family: Raleway;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: $primaryСolor;
    // margin-right: 93px;
    // font-size: 26px;
    // line-height: 1.19;

    &--accent {
        color: $accentColor;
    }

    &--footer {
        color: $contrastColor;
        margin-bottom: 28px;

        // margin-bottom: 20px;
    }
}