.header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ECECEC;
    background: $primaryBackground;

    @media screen and (min-width:768px) {
        position: relative;
        height: 80px;        
    }

    &__container {
        // @extend %container;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px auto;   

        @media screen and (min-width: 768px) {
            margin: 0 auto;
        }
     }
}




