.header {
    // position: relative;
    height: 60px;
    border-bottom: 1px solid #ECECEC;

    &__container {
        @extend %container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 16px auto;   
     }
}




