%container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
        max-width: 480px;
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        max-width: 1200px;
        align-items: center;
        justify-content: center;
    }
}

%list {
    list-style: none;

    @media screen and (min-width: 768px) {
        display: flex;
        margin-top: 0;
        margin-bottom: 0; 
    }
   
}

%section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

%section-title {
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 30px;
    
    @media screen and (min-width:1200px){
        font-size: 36px;
        line-height: 1.17;    
        margin-top: 0;
        margin-bottom: 50px;
    }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

$icon: "box1", "box2", "box3";

@each $iconName in $icon {
    .icon-#{$iconName} {
        background-image: url(../images/#{$iconName}.jpg);
    }
}