$primaryСolor: #212121;
$secondaryColor: #757575;
$contrastColor: #ffffff;
$addressItemColor: rgba(255, 255, 255, 0.6);
$iconColor: #AFB1B8;

$accentColor: #2196F3;
$buttonAccent: #188CE8;

$primaryBackground: #ffffff;
$secondaryBackground: #2F303A;
$heroBackground: #C4C4C4;
$contentBackground: #F5F4FA;
$buttonBackground: #F5F4FA;

$transitionCubic: cubic-bezier(0.4, 0, 0.2, 1);

